{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}article_detail{% endblock title %}


{% block content %}
<!--Main layout-->
    <main class="mt-5 pt-5">
        <div class="container-fluid">

            <!--Section: article-->
            <section class="mt-4">

              <!-- <div class="view">
                  <img src="https://mdbootstrap.com/img/Photos/Others/forest-sm.jpg" class="img-fluid" alt="placeholder">
                  <div class="mask flex-center waves-effect waves-light rgba-teal-strong">
                      <p class="white-text">strong overlay</p>
                  </div>
              </div> -->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-8 mb-4">

                        <!--Featured Image-->
                        <div class="card mb-4 wow fadeIn">
                            <img src="{{article.get_img_url.url}}" class="img-fluid" alt="{{article.title}}">
                        </div>
                        <!--/.Featured Image-->


                        <!--Card-->
                        <div class="card mb-4 wow fadeIn">
                            <!--Card content-->
                            <div class="card-body">
                                <p class="h5 my-4">{{ article.title }}</p>
                                <p>{{ article.body|safe|linebreaks }}</p>
                            </div>
                        </div>
                        <!--/.Card-->

                        <!--Card-->
                        <div class="card mb-4 wow fadeIn">
                            <div class="card-header font-weight-bold">
                                <span>About Author</span>
                                <span class="pull-right">
                                    <a href="#" target="_blank">
                                        <i class="fa fa-facebook mr-2"></i>
                                    </a>
                                    <a href="#" target="_blank">
                                        <i class="fa fa-twitter mr-2"></i>
                                    </a>
                                    <a href="#" target="_blank">
                                        <i class="fa fa-instagram mr-2"></i>
                                    </a>
                                    <a href="#" target="_blank">
                                        <i class="fa fa-linkedin mr-2"></i>
                                    </a>
                                </span>
                            </div>

                            <!--Card content-->
                            <div class="card-body">
                                <div class="media d-block d-md-flex mt-3">
                                    <img class="d-flex rounded-circle avatar z-depth-1-half mb-3 mx-auto" src="{{user.avatar.url}}" alt="{{article.author}}">
                                    <div class="media-body text-center text-md-left ml-md-3 ml-0">
                                        <h5 class="mt-0 font-weight-bold">{{article.author}}</h5>
                                        {{user.bio}}
                                    </div>
                                </div>
                            </div><!-- card-body -->

                        </div>
                        <!--/.Card-->

                        comments goes here




                    <!--Grid column-->
                    <div class="col-md-4 mb-4">

                        <!--Card : Dynamic content wrapper-->
                        <div class="card mb-4 text-center wow fadeIn">

                            newsletter goes here...

                        </div>
                        <!--/.Card : Dynamic content wrapper-->



                        <!--Card-->
                        <div class="card mb-4 wow fadeIn">

                            similar articles goes here...

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--Grid column-->


                </div>
                <!--Grid row-->

            </section>
            <!--Section: article-->

            <hr width="50%">

            {% if user.is_superuser %}
                <p><a href="{% url 'articles:article_update' slug=article.slug %}">Edit</a></p>
            {% endif %}

        </div>
    </main>
    <!--Main layout-->

{% endblock content %}
