{% extends "layout.html" %}
{% load widget_tweaks %}

{% block title %}contact_us{% endblock title %}

{% block content %}
<body class="contact-page" >
<div class="wrapper">
    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="true" style="background-image:  url('../static/img/banners/contact_us_banner3.jpg');">
        <div class="transparent_png">
        </div>
      </div>
    </div>



    <div class="main">
      <div class="contact-content">
          <div class="container">
              <div class="row">
                  <div class="col-md-5 ml-auto mr-auto">
                    {% if confirm_message %}
                      <div class="text-center mt-6">
                        <p class="mt-4 success-text">{{ confirm_message }}<i class="fa fa-check pr-2 btn btn-just-icon btn-round btn-success"></i></p>
                      </div>
                    {% endif %}

                    {% if contact_form %}
                      <h2 class="title">{{title}}</h2>
                      <p class="description">You can contact us with anything related to our Products. We'll get in touch with you as soon as possible.<br><br>
                      </p>
                      <form role="form" action="" id="contact-form" method="POST">
                          {% csrf_token %}
                          {{ contact_form.non_field_errors }}
                          {{ contact_form.source.errors }}
                          {{ contact_form.source }}
                          <label>{{contact_form.name.label}}</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                            </div>
                            {% render_field contact_form.name type="text" name="contact_form.name" class="form-control" placeholder="Your Name..."  aria-label="contact_form.name.label"%}
                            {{ contact_form.name.errors }}
                          </div>
                          <label>{{contact_form.email.label}}</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text" ><i class="fa fa-at"></i></span>
                            </div>
                            {% render_field contact_form.email type="email" name="contact_form.email" class="form-control" placeholder="Example@email.com"  aria-label="contact_form.email.label"%}
                            {{ contact_form.email.errors }}
                          </div>
                          <label>{{contact_form.phone.label}}</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-mobile"></i></span>
                            </div>
                            {% render_field contact_form.phone type="text" name="contact_form.phone" class="form-control" placeholder="+2348012345678"  aria-label="contact_form.phone.label"%}
                            {{ contact_form.phone.errors }}
                          </div>
                          <div class="form-group">
                              <label>{{contact_form.comment.label}}</label>
                              {{ contact_form.comment|attr:"id:message"|attr:"name:contact_form.comment"|attr:"class:form-control"|attr:"rows:4" }}
                              {{ contact_form.comment.errors }}
                          </div>
                          <div class="submit text-center">
                              <input type="submit" class="btn btn-primary btn-raised btn-round" value="Contact Us" />
                          </div>
                      </form>
                      {% endif %}
                  </div>



                  <div class="col-md-5 ml-auto mr-auto">

                      <div class="info info-horizontal">
                          <div class="icon icon-primary">
                              <i class="fa fa-map-marker"></i>
                          </div>
                          <div class="description">
                              <h4 class="info-title">Find us at the office</h4>
                              <p> Babs Animasheun Surulere,<br>
                                  Lagos,<br>
                                  Nigeria
                              </p>
                          </div>
                      </div>
                      <div class="info info-horizontal">
                          <div class="icon icon-primary">
                              <i class="fa fa-mobile"></i>
                          </div>
                          <div class="description">
                              <h4 class="info-title">Give us a ring</h4>
                              <p> Gerard Nwazk<br>
                                  +2348062134747<br>
                                  Mon - Fri, 8:00-22:00
                              </p>
                          </div>
                      </div>
                      <div class="info info-horizontal">
                          <div class="icon icon-primary">
                              <i class="fa fa-briefcase"></i>
                          </div>
                          <div class="description">
                              <h4 class="info-title">Developed By Geetech Ltd.</h4>
                              <p> Need our service?<br>
                                  Mail &middot; geetechcypher@gmail.com<br>
                                  Office mobile &middot; +2348186612324
                              </p>
                          </div>
                      </div>
                  </div>
             </div>
          </div>
      </div>
  </div>
</div>
</body>

{% endblock content %}
