{% extends "layout.html" %}

{% block title %}home{% endblock title %}

{% block content %}

  <div class="page-header header-filter">
      <div class="page-header-image" style="background-image: url('static/img/banners/choir.jpg');"></div>
      <div class="content-center">

          <div class="container">
              <div class="row">

                  <div class="col-md-7 ml-auto text-center">
                      <h2 class="title">Enroll for our music lessons free</h2>
                      <h4 class="description">The riding of waves has likely existed since humans began swimming in the ocean. In this sense, bodysurfing is the oldest type of wave-catching. Standing up on what is now called a surfboard is a relatively recent innovation developed by the Polynesians.</h4>
                      <br />

                      <div class="buttons">
                          <a href="#geetech" class="btn btn-icon btn-link btn-neutral btn-lg">
                              <i class="fa fa-twitter"></i>
                          </a>
                          <a href="#geetech" class="btn btn-icon btn-link btn-neutral btn-lg">
                              <i class="fa fa-facebook-square"></i>
                          </a>
                          <a href="#geetech" class="btn btn-icon btn-link btn-neutral btn-lg">
                              <i class="fa fa-get-pocket"></i>
                          </a>
                          <a href="#geetech" class="btn btn-info btn-lg mr-3">
                              Read More
                          </a>
                      </div>
                  </div>

              </div>
          </div>

      </div>

  </div>

<!--     *********    END HEADER 1      *********      -->


<!--     *********     FEATURES 1      *********      -->
<div class="features-1">
      <div class="container">
          <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                  <h2 class="title">Full-Funnel Social Analytics</h2>
                  <h4 class="description">Insight to help you create, connect, and convert. Understand Your Audience's Interests, Influence, Interactions, and Intent. Discover emerging topics and influencers to reach new audiences.</h4>
              </div>
          </div>

          <div class="row">
              <div class="col-md-4">
                  <div class="info info-hover">
                      <div class="icon icon-info">
                          <i class="flaticon-music-teacher"></i>
                      </div>
                      <h4 class="info-title">Music Theory Lessons</h4>
                      <p class="description">Gain access to the demographics, psychographics, and location of unique people.</p>
                  </div>

              </div>

              <div class="col-md-4">
                  <div class="info info-hover">
                      <div class="icon icon-success">
                          <i class="flaticon-piano"></i>
                      </div>
                      <h4 class="info-title">Piano Lessons</h4>
                      <p class="description">Unify data from Facebook, Instagram, Twitter, LinkedIn, and Youtube to gain rich insights.</p>
                  </div>
              </div>

              <div class="col-md-4">
                  <div class="info info-hover">
                      <div class="icon icon-warning">
                          <i class="flaticon-musical-notation-of-music-class"></i>
                      </div>
                      <h4 class="info-title">Compositions/Autors</h4>
                      <p class="description">Track actions taken on your website, understand the impact on your bottom line.</p>
                  </div>
              </div>
          </div>

          <div class="row">
                  <div class="col-md-4">
                      <div class="info info-hover">
                          <div class="icon icon-info">
                              <i class="flaticon-electric-guitar red-text"></i>
                          </div>
                          <h4 class="info-title">Guiter Lessons</h4>
                          <p class="description">Gain access to the demographics, psychographics, and location of unique people.</p>
                      </div>

                  </div>

                  <div class="col-md-4">
                      <div class="info info-hover">
                          <div class="icon icon-success">
                              <i class="flaticon-microphone cyan-text"></i>
                          </div>
                          <h4 class="info-title">Voice Lessons</h4>
                          <p class="description">Unify data from Facebook, Instagram, Twitter, LinkedIn, and Youtube to gain rich insights.</p>
                      </div>
                  </div>

                  <div class="col-md-4">
                      <div class="info info-hover">
                          <div class="icon icon-warning">
                              <i class="flaticon-violin"></i>
                          </div>
                          <h4 class="info-title">String instruments Lessons</h4>
                          <p class="description">Track actions taken on your website, understand the impact on your bottom line.</p>
                      </div>
                  </div>
              </div>

      </div>
  </div>

  <!--     *********    END FEATURES 1      *********      -->

  <hr class="style-two">
  <br>

  <!--     *********    VIDEO OVERLAY     *********      -->
  <!-- This section contains the about us videos with message -->
  <section>
      <div class="row">
          <div class="container">

              <div class="col-md-12 about_us_video_container">
                  <video class="responsive-video"  autoplay loop muted>
                      <source src="http://res.cloudinary.com/hoezb3yx8/video/upload/v1525876713/musicadence/vid/about_us.mp4" type="video/mp4">
                      <!-- <source src="#" type="video/webm"> -->
                  </video>
                  <div class="about_us_video_overlay">
                          <br>
                          <br>
                      <h6 class="text-center">MUSICADENCE</h6>
                          <br>
                          <br>
                      <h5 class="text-center">TAKE SOME MUSIC LESSONS WITH US</h5>
                          <br>
                          <br>
                      <p class="text-center">
                          <strong>
                              We have a variety of basic music lessons available for all.<br>
                              the courses would be updated each day and published here.<br>
                              course materials and notes would be made available
                          </strong>
                      </p>

                      <br>
                      <br>
                      <br>

                      <p class="text-center">
                          <strong>
                              We have a variety of basic music lessons available for all.<br>
                              the courses would be updated each day and published here.<br>
                              course materials and notes would be made available
                          </strong>
                      </p>
                  </div><!-- col s12 about_us_video_container -->
              </div>
          </div>
      </div>
  </section>
  <!--     *********    VIDEO OVERLAY      *********      -->

  <br>
  <hr class="style-two">
  <br>
{% endblock content %}
