{% extends "layout.html" %}

{% block title %}home{% endblock title %}

{% block content %}

  <!--Main Layout-->
  <main>

      <!--Section: Features v.1-->
      <section class="text-center">

          <div class="container">
              <!--Section heading-->
              <h1 class="py-5 font-weight-bold">Why is it so great?</h1>
              <!--Section description-->
              <p class="px-5 mb-5 pb-3 lead grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam.</p>

              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-4">
                      <i class="flaticon-music-teacher red-text"></i>
                      <h5 class="font-weight-bold mt-3">Music Theory Lessons</h5>
                      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti
                      hic.
                      </p>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-md-4">
                      <i class="flaticon-piano cyan-text"></i>
                      <h5 class="font-weight-bold mt-3">Piano Lessons</h5>
                      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti
                      hic.
                      </p>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-md-4">
                      <i class="flaticon-music-teacher green-text"></i>
                      <h5 class="font-weight-bold mt-3">Violin Lessons</h5>
                      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti
                      hic.
                      </p>
                  </div>
                  <!--Grid column-->

              </div>
              <!--Grid row-->


              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-4">
                      <i class="flaticon-electric-guitar red-text"></i>
                      <h5 class="font-weight-bold mt-3">Guiter Lessons</h5>
                      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti
                      hic.
                      </p>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-md-4">
                      <i class="flaticon-microphone cyan-text"></i>
                      <h5 class="font-weight-bold mt-3">Voice Lessons</h5>
                      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti
                      hic.
                      </p>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-md-4">
                      <i class="flaticon-musical-notation-of-music-class green-text"></i>
                      <h5 class="font-weight-bold mt-3">Compositions/Autors</h5>
                      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti
                      hic.
                      </p>
                  </div>
                  <!--Grid column-->

              </div>
              <!--Grid row-->

          </div>
      </section>
      <!--Section: Features v.1-->


      <br>
      <br>
      <hr class="style-two">
      <br>
      <br>

      <!-- This section contains the about us videos with message -->
      <section>
          <div class="row">
              <div class="container">

                  <div class="col-md-12 about_us_video_container">
                      <video class="responsive-video"  autoplay loop muted>
                          <source src="http://res.cloudinary.com/hoezb3yx8/video/upload/v1525876713/musicadence/vid/about_us.mp4" type="video/mp4">
                          <!-- <source src="#" type="video/webm"> -->
                      </video>
                      <div class="about_us_video_overlay">
                              <br>
                              <br>
                          <h6 class="text-center white-text">MUSICADENCE</h6>
                              <br>
                              <br>
                          <h5 class="text-center white-text">TAKE SOME MUSIC LESSONS WITH US</h5>
                              <br>
                              <br>
                          <p class="text-center white-text">
                              We have a variety of basic music lessons available for all.<br>
                              the courses would be updated each day and published here.<br>
                              course materials and notes would be made available
                          </p>

                          <br>
                          <br>
                          <br>

                          <p class="text-center white-text">
                              We have a variety of basic music lessons available for all.<br>
                              the courses would be updated each day and published here.<br>
                              course materials and notes would be made available
                          </p>
                      </div><!-- col s12 about_us_video_container -->
                  </div>
              </div>
          </div>
      </section>


      <br>
      <br>
      <hr class="style-two">
      <br>
      <br>


      <!--Section: Testimonials v.3-->
      <section class="team-section text-center pb-3 container">

          <!--Section heading-->
          <h1 class="font-weight-bold h1 py-5">Testimonials v.3</h1>

          <!--Grid row-->
          <div class="row text-center">

              <!--Grid column-->
              <div class="col-md-4 mb-4">

                  <div class="testimonial">
                      <!--Avatar-->
                      <div class="avatar mx-auto my-3">
                          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="rounded-circle z-depth-1 img-fluid">
                      </div>

                      <!--Content-->
                      <h4 class="mb-3 dark-grey-text">
                          <strong>Anna Deynah</strong>
                      </h4>
                      <h6 class="mb-3 font-weight-bold blue-text">Graduate (Piano)</h6>
                      <p>
                          <i class="fa fa-quote-left grey-text"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae
                          quaerat ad velit ab hic tenetur.</p>

                      <!--Review-->
                      <div class="orange-text">
                          <i class="fa fa-star"> </i>
                          <i class="fa fa-star"> </i>
                          <i class="fa fa-star"> </i>
                          <i class="fa fa-star"> </i>
                          <i class="fa fa-star-half-full"> </i>
                      </div>
                  </div>
              </div>
              <!--Grid column-->

          </div>
          <!--Grid row-->
      </section>
      <!--Section: Testimonials v.3-->


      <br>
      <br>
      <hr class="style-two">
      <br>
      <br>


  </main>
  <!--Main Layout-->
{% endblock content %}
