{% load static %}
{% url 'home' as home %}
{% url 'articles:article_list' as article_list %}
{% url 'contact' as contact %}


    <!--     *********     HEADER 1      *********      -->

    <div class="header-1">
        <nav class="navbar navbar-expand-lg navbar-transparent bg-primary navbar-absolute">
            <div class="container">
                <div class="navbar-translate">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#example-navbar-primary" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </button>
                    <a class="navbar-brand text-left" href="#pablo"><img src="{% static 'img/icons/musicadence.png' %}" style="width:80px; height:50px;" alt="musicadence.com"> musicadence</a>
                </div>

                <div class="collapse navbar-collapse" id="example-navbar-primary">
                    <ul class="navbar-nav mx-auto">

                      {% if request.path == home %}
                        <li class="nav-item active">
                      {% else %}
                        <li class="nav-item">
                      {% endif %}
                            <a class="nav-link" href="{% url 'home' %}">home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">lessons</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">community</a>
                        </li>

                        {% if request.path == article_list %}
                          <li class="nav-item active">
                        {% else %}
                          <li class="nav-item">
                        {% endif %}
                            <a class="nav-link" href="{% url 'articles:article_list' %}">blog</a>
                        </li>

                        {% if request.path == contact %}
                          <li class="nav-item active">
                        {% else %}
                          <li class="nav-item">
                        {% endif %}
                            <a class="nav-link" href="{% url 'contact' %}">contact</a>
                          </li>
                    </ul>

                    <!--Login navigation...-->
                    {% if user.is_authenticated %}
                        <div class="author">
                             <img src="{{user.avatar.url}}" alt="{{user.username}}" class="rounded-circle avatar img-raised" style="width:25px; height:25px">
                             <span>@{{user.username}}</span>
                        </div>
                    {% else %}
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-user"></i>
                                login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-user-plus"></i>
                                register
                            </a>
                        </li>
                    </ul>
                    {% endif %}


                </div>
            </div>
        </nav>
